<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>footer</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
       <footer class="footer-copyright text-center bg-light py-3"
        style="position:fixed; width:100%; bottom:0"
        th:fragment="footer">
        <div>
          <strong>
              Copyright &copy; 2022 <a href=""> Shiba nanda Nayak</a>
              All rights reserved.
          </strong>
        </div>
        </footer>
</body>
</html>