<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>view post</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div th:replace="~{blog/navbar :: navbar}"></div>
<div class="container">
  <div class="row">
    <div class="col-md-9">
       <div th:each = "post : ${postResponse}">
          <div class="card">
             <div class="card-header">
                <h3>
                   <a th:href="@{/post/{postUrl} (postUrl = ${post.url})}"
                      th:text="${post.title}"></a>
                </h3>
             </div>
             <strong th:text="${#temporals.format(post.createdOn, 'dd MMMM yyyy')}">
             
             </strong>
          </div>
       <div class="card-body">
             <span th:utext="${post.shortDescription}"></span>
           <a th:href="@{/post/{postUrl}(postUrl=${post.url})}">Read more</a>
       </div>
       </div>
    </div>
     <br />
  </div>
<div th:replace="~{blog/footer :: footer}"></div>
</div>  


</body>
</html>